# PostgreSQL
DB__NAME=shorturl
DB__USER=postgres
DB__PASSWORD=postgres
DB__HOST=localhost
DB__PORT=5432

# Redis
REDIS__HOST=localhost
REDIS__PORT=6379
REDIS__DB=0
REDIS__RATE_LIMITER_DB=1
REDIS__CELERY_DB=2

# JWT (RSA)
JWT__PRIVATE_KEY_PATH=keys/private.pem
JWT__PUBLIC_KEY_PATH=keys/public.pem

# App
APP__LOG_LEVEL=INFO
APP__CORS_ORIGINS=["http://localhost:3000"]
APP__BASE_URL='https://example.com'